<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	
	<!-- versión de desarrollo, incluye advertencias de ayuda en la consola -->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>


</head>

	<body class="container bg-white text-center">

		<!-- The core Firebase JS SDK is always required and must be listed first -->
		<script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-app.js"></script>

		<!-- Add Firebase products that you want to use -->
		<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-auth.js"></script>
		<script src="https://www.gstatic.com/firebasejs/8.2.7/firebase-firestore.js"></script>


		<!-- TODO: Add SDKs for Firebase products that you want to use
		     https://firebase.google.com/docs/web/setup#available-libraries -->
		<script>
		  // Your web app's Firebase configuration
		  var firebaseConfig = {
		    apiKey: "AIzaSyBH-cVX9KInem2iY9tSWvEKDDedj4kn52o",
		    authDomain: "test-blautech-bb.firebaseapp.com",
		    projectId: "test-blautech-bb",
		    storageBucket: "test-blautech-bb.appspot.com",
		    messagingSenderId: "569406324816",
		    appId: "1:569406324816:web:2dadc18f15e3945da89155"
		  };
		  // Initialize Firebase
		  firebase.initializeApp(firebaseConfig);
		</script>





		<div class="m-5">
			<div class="p-5">
				<h3>MODIFICACIÓN DE USUARIO</h3>
			</div>
			<div class="text-right mb-3">
				<a href="/front-users/users.html" class="btn btn-primary">Reregsar</a>
			</div>

			  	<form class="form-group" id="viewUser">
					<fieldset disabled>
					    <div class="my-3">
					      <input v-model="id" id="id" type="text" class="form-control" placeholder="Id...">
					    </div>
				    </fieldset>
				    <div class="my-3">
				      <input v-model="first_name" id="first_name" type="text" class="form-control" placeholder="Name...">
				    </div>
				    <div class="my-3">
				      <input v-model="second_name" id="second_name" type="text" class="form-control" placeholder="Last...">
				    </div>
				    <div class="my-3">
				      <input v-model="email" id="email" type="text" class="form-control" placeholder="Email...">
				    </div>
				    <div class="my-3">
				      <input v-model="password" id="password" type="password" class="form-control" placeholder="Password...">
				    </div>
				    <div class="my-3">
			      		<button type="button" v-on:click="update" id="update" class="btn btn-primary mx-2">Guardar cambios</button>
			      		<a href="/front-users/users.html" class="btn btn-primary mx-2">Cancelar</a>
				    </div>
				    <div>
				    	{{ info }}
				    </div>

			  	</form>

		</div>






		<script type="text/javascript">

		      firebase.auth().onAuthStateChanged(function(user) {
		        
		        if (user) {
					//console.log( 'Usuario en sesión: '+email );
					//window.location="http://localhost/front-users/users.html";
		        } 
		        else 
		        {
		          //console.log('Usuario sin sesión');
		          window.location="http://localhost/front-users/index.html";
		        }
		        
		      });


				new Vue({

				  el: '#viewUser',
				  data () {
				    return {
				    	id: null,
					    first_name: null,
					    second_name: null, 
					    email: null,
					    password: null, 
					    info: null

				    }
				  },
				  mounted () {

				    axios
				      .get('http://localhost/back-users/?users/view/'+window.location.href.split("?")[1])
				      .then(response => {
				      	
			      		if( response.data.status ) 
			      		{
			      			this.id = response.data.user[0].id;
						    this.first_name = response.data.user[0].first_name;
						    this.second_name = response.data.user[0].second_name;
						    this.email = response.data.user[0].email;
						    this.password = response.data.user[0].password;
			      		}
			      		//this.info = response.data.user[0].first_name;

				      })
				      .catch(error => console.log(error))
				  },
				  methods: {

				    update: function () {
				      
				      	var id = $('#id').val();
				        var first_name = $('#first_name').val();
					    var second_name = $('#second_name').val();
				        var email = $('#email').val();
					    var password = $('#password').val();

				        if (id == 0) {
				          alert('Please enter an Id.');
				          return;
				        }
				        if (first_name.length == 0) {
				          alert('Please enter your first name.');
				          return;
				        }
				        if (second_name.length == 0) {
				          alert('Please enter your last name.');
				          return;
				        }
				        if (email.length == 0) {
				          alert('Please enter an email address.');
				          return;
				        }
				        if (password.length == 0) {
				          alert('Please enter a password.');
				          return;
				        }


					    axios
					      .post('http://localhost/back-users/?users/edit/'+id+'/'+first_name+'/'+second_name+'/'+email+'/'+password)
					      //.then(response => (this.info = response))
					      .then(response => {

				      		this.info = response.data.message;
				      		
					      })
					      .catch(error => console.log(error))



				    },

				  },

				})

		</script>





	</body>


</html>
  
  
